/* CSS Design: Mobile first approach, then climbing up to tablet then desktop */
body {
    background:rgb(29, 29, 29);
    color:white;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    line-height: 1;
}

.hero-section {
    background-image: url("images/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    overflow: hidden;
}

.hero-dark-cover {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

.hero-content {
    position: relative;
    display: block;
    color: white;
    z-index: 10;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}

.hero-main-text {
    font-size: 2rem;
}

.hero-support-text {
    font-weight: 1;
    font-size: 1.25rem;
    font-style: italic;
}

.hero-button {
    padding: 0.75rem 2.5rem 0.75rem 2.5rem;
    margin-inline: 0.5rem;
    border: none;
    border-radius: 8px;
    font-size: 0.75rem;
    font-weight: bold;
    background-color: rgb(247, 247, 247);
    transition: 0.3s;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #1e5631;
    color: white;
}

.hero-buttons {
    margin-top: 1.25rem;
}

/* Display for tablet devices */
@media (min-width: 768px) {
    .hero-main-text {
        font-size: 2.75rem;
    }
    .hero-support-text {
        font-size: 1.5rem;
    }
    .hero-buttons {
        margin-top: 1.5rem;
    }
    .hero-button {
        padding: 0.75rem 4rem 0.75rem 4rem;
        font-size: 0.875rem;
    }
}

/* Display for large devices */
@media (min-width: 1024px) {
    .hero-main-text {
        font-size: 4rem;
    }
    .hero-support-text {
        font-size: 1.75rem;
    }
    .hero-buttons {
        margin-top: 1.75rem;
    }
    .hero-button {
        padding: 0.75rem 6rem 0.75rem 6rem;
        font-size: 1rem;
    }
}